*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header {
    padding: 10px;
    background-color: floralwhite;
    left: 20px;
    height: 100px;
}

.header img {
    float: left;
    width: 80px;
    height: 80px;
}

.footer {
    margin: auto;
    height: 100px;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    background: #ddd;
    bottom: 0;
}

body{
    background-image: url("../images/1-1.jpg");
    background-size: cover;
}

.back{
    background: #fffffa;
    margin: auto;
    width: 1024px;
    min-height: 650px;
}

.left {
    width: 120px;
    float: left;
    position: relative;
    background-color: #fffffa;
    z-index: 1;
}

.right {
    width: 884px;
    position: relative;
    margin-left: 120px;
}